In [1]:
import pandas as pd

In [35]:
## ЗАДАЧА 1 ##

data = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

data[ data.rating == 5.0 ].merge(movies).groupby(['movieId','title']).count().sort_values(by=['userId'], ascending=False).head(1)

                                          userId  rating  timestamp  genres
movieId title
318     Shawshank Redemption, The (1994)   39553   39553      39553   39553

In [78]:
## ЗАДАЧА 2 ##

data_power = pd.read_csv('power.csv')

#поиск названий стран

data_power[ data_power['country'].str.contains('lit', case=False) ]['country'].unique()

#Estonia, Latvia, Lithuania

data_power[(data_power['category'].isin([4,12,21])) &
           (data_power['country'].isin(['Latvia','Lithuania','Estonia'])) & 
           (data_power['year'].between(2005,2010)) &
           (data_power['quantity'] > 0)
          ]['quantity'].sum()

240580.0

In [136]:
## ЗАДАЧА 3 ##

page_url = 'https://ru.myfin.by/currency/cb-rf/usd'
df = pd.read_html(page_url, attrs = {'class': 'content_table'}, encoding='utf-8')
pd.DataFrame(df[0])

         Дата  1 USD Изменение
         Дата  1 USD Изменение
0  29.05.2020  71.10      0.04
1  28.05.2020  71.06     -0.08
2  27.05.2020  71.14     -0.46
3  26.05.2020  71.60     -0.28
4  25.05.2020  71.88       NaN
5  24.05.2020  71.88       NaN
6  23.05.2020  71.88      0.96
7  22.05.2020  70.92     -1.42
8  21.05.2020  72.34       NaN